<div class="container">


  <div class="col-lg-2 col-lg-offset-1">
    {{curDate}}
      <ul>
        <li>
          <a routerLink="/regist" >注册1</a>
        </li>
        <li>
          <a routerLink="/login" >登录</a>
        </li>
        <li>
          <a routerLink="/about" >关于我们</a>
        </li>
        <li>
          <a routerLink="/asdasd" >404</a>
        </li>
        <li>
          <a routerLink="/gdsfgdsfgsdfg" >404</a>
        </li>
        <li>
          <button routerLink="/databind">到数据绑定</button>
        </li>
        <li>
          <button (click)="toDir()">到指令</button>
        </li>
        <li>
          <a routerLink="/loginPage">登录</a>
        </li>
        <li>
          <a routerLink="/parent">父路由</a>
        </li>
        <li>
            <a [routerLink]="[{outlets: { primary:'regist',otherOutlet:'loginWithOther' } }]">显示登录到辅助路由</a>
        </li>
        <li>
            <a [routerLink]="[{outlets: { otherOutlet:null } }]">隐藏辅助路由</a>
        </li>
      </ul>

  </div>

  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
 

  <div class="ccc fixBottom">
    <router-outlet name="otherOutlet"></router-outlet>
  </div>

</div>
