
<div>

  <input type="text" placeholder="用户名" [(ngModel)]="key" >

  <select [(ngModel)]="type">
    <option value="0" selected>不排序</option>
    <option value="1">按照年龄升序排序</option>
    <option value="-1">按照年龄降序排序</option>
  </select>

</div>

<hr>


<div>
  <input type="text" placeholder="用户名" [(ngModel)]="user.username" />
  <input type="text" placeholder="密码" [(ngModel)]="user.password">
  年龄：<select [(ngModel)]="user.age">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button (click)="this.users.push(user);user={}" >添加</button>
</div>

<table width="80%" cellspacing="0" cellpadding="5" border="1">
  <thead>
  <tr>
    <th>用户名</th>
    <th>密码</th>
    <th>年龄</th>
    <th>操作</th>
  </tr>
</thead>
  <tr *ngFor="let u of users | dataFilter : key  | orderBy : type ; index as i ">
    <td>{{u.username}}</td>
    <td>{{u.password}}</td>
    <td>{{u.age}}</td>
    <td>
      <a href="javascript:void(0);" (click)="this.users.splice(i,1)" >删除</a>
    </td>
  </tr>
</table>